@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">MudBlazorApp</a> *@
@*     </div> *@
@* </div> *@

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"> *@
@*     <nav class="nav flex-column">     *@

@*     </nav> *@
@* </div> *@


<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Home</MudNavLink>

    <MudNavLink Href="/counter" Match="NavLinkMatch.Prefix">Counter</MudNavLink>

    <MudNavLink Href="/weather" Match="NavLinkMatch.Prefix">Weather</MudNavLink>

    <MudNavLink Href="/prices" Match="NavLinkMatch.Prefix">Prices</MudNavLink>
</MudNavMenu>

